* {
  padding: 0;
  margin: 0;
}

.container {
  display:grid;
  background-color: rgb(20, 19, 20);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
  width: 80%;
  height: 80vh;
  border: 1px solid rgb(46, 46, 46);
}

.purple {
  width: 100%;
  height: 100%;
  background-color: purple;
}

.green {
  width: 100%;
  height: 100%;
  background-color: green;
  grid-row: 1/3;
  grid-column: 2/4;
  display: grid;
  justify-items: center;
  align-items: center;
}


.yellow {
  width: 60%;
  height: 50%;
  background-color: yellow;
}